<p>
    <strong>Username:</strong>
    <%= @item.username %>
</p>

<p>
    <strong>Item:</strong>
    <%= @item.item %>
    
</p>

<p> 
    <strong>Price:</strong>
    <%= @item.price %>
</p>

<p>
    <strong>Contact Info:</strong>
    <%= @item.contact %>
    
</p>