img{
    width: 200px;
    height: 200px;
    border: solid 5px black;
}

#hddescription {
color: white;

float: right; 

border: dotted 2px yellow;    
  width: 200px;
  
  position: relative;
}

#hstyle {
    
    color: white;  
    width: 200px;
    float: left;
}

#bucks{
   color: white;
   border: dotted 2px yellow; 
   float: right;
}

#harddrivediv {
    
    border:solid 7px green; 
    padding: 15px; 
    width: 900px;
}

// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
