img{
    width: 200px;
    height: 200px;
    border: solid 5px black;
    margin-left: 35px;
}

#hddescription {
color: black;

float: right; 

border: dotted 2px yellow;    
  width: 200px;
  margin-right: 200px;
}

#hstyle {
    margin-top: 80px;
    color: black;  
    width: 200px;
    float: left;
}


#harddrivediv {
    
    border:solid 7px green; 
    padding: 15px; 
    width: 900px;
    background-color: white;
}



#harddrivediv2 {
    
    border:solid 7px green; 
    padding: 15px; 
    width: 900px;
    background-color: white;
}

#user2 {
 float: left;
 margin-top: 80px;
    }

#newitem {
 background-color: white;   
 width: 150px;
 float: right;
}


// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
